@{
}
@*Browse Products*@
@model PagedList.IPagedList<OnlineShop.Models.Db.Tables.Product>
@using PagedList.Mvc;
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.smartmenus.js" type="text/javascript"></script>
<style>
   #main-menu {
	float: right;
    }
</style>
<script>
    $(function () {
        $('#main-menu').addClass("sm-rtl");
    });
</script>
<div id="properties-filfer" class="col-md-3">
    @{Html.RenderAction("PropertiesFilter", "Home");}
</div>
<div class="col-md-9">
    @foreach (var product in Model)
    {
        <div class="item">
            <a href="@Url.Action("Details", new { })">
                @*todo Call method details product*@
                <img class="img-thumbnail" width="150" height="200" alt="@product.Pr_Name"
                     src="~/Content/Images/Product.png" /> @*todo Add product img*@
                    <p class="title">@product.Pr_Name</p>
                    <p>@product.Pr_Price</p>
                </a>
            </div>
    }
    <span class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Browse",
                        new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </span>
</div>