@{
}
@*Browse Products*@
@model PagedList.IPagedList<OnlineShop.Models.Db.Tables.Product>
@using PagedList.Mvc;
    @foreach (var product in Model)
    {
        <div class="item">
            <a href="@Url.Action("Details", new { })"> @*todo Call method details product*@
                <img class="img-thumbnail" width="150" height="200" alt="@product.Pr_Name"
                     src="~/Content/Images/Product.png" /> @*todo Add product img*@
                <p class="title">@product.Pr_Name</p>
                <p>@product.Pr_Price</p>
            </a>

        </div>
    }
<span class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Browse",
                        new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</span>
