@model OnlineShop.Models.IndexViewModel
@{
    ViewBag.Title = "Керування аккаунтом";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Змінити пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Встановити пароль", "SetPassword")
            }
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Змінити", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Видалити", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Додати", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Керувати]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                   2-х факторна авторизація активована:
                    <input type="submit" value="Disable" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
					2-х факторна авторизація неактивна:
                    <input type="submit" value="Enable" class="btn btn-default"/>
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
	            <p>
		            Браузер запам'ятовує 2-х факторну авторизацію
		            <input type="submit" value="Forget Browser" class="btn btn-default"/>
	            </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
					Браузер не запам'ятовує 2-х факторну авторизацію:

                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            </form>
        }
    </div>
</div>
