@model OnlineShop.Models.ManageShopModels.Views.ProductView

@{
	ViewBag.Title = "Деталі";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Деталі продукту @Model.Id.ToString()</h2>
<hr />

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })  
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Category.Cat_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Category.Cat_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.IsAvailable, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
    <div class="col-sm-2">
    </div>

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><span aria-hidden="true">&larr;</span>@Html.ActionLink("Назад до списку", "Index")</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Редагувати", "Edit", new { id = Model.Id })</button>
    </div>

        @*<ul class="pager">
                <li class="previous">
                        @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id })
                </li>
                <li class="previous">
                        @Html.ActionLink("Назад до списку", "Index")
                </li>
            </ul>*@
    </div>