@model IEnumerable<OnlineShop.Models.ManageShopModels.Views.LinkView>
@{
    ViewBag.Title = "Список груп властивостей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Створити нову групу властивостей", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Видалити", "Delete", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Властивості", "Properties", new { link_id = item.Id})
            </td>
        </tr>
    }
</table>
